<div class="main-container">
  <div class="header-container">
    <h2 class="main-header">Palettes > Manage</h2>
  </div>
  <div class="palettes-container">
    <div class="palette">
      <div class="palette-header-container">
        <h2 class="palette-header" (click)="setComponent('palette-edit')">Test Palette Header</h2>
        <i class="fa fa-pencil" (click)="setComponent('palette-edit')"></i>
        <i class="fa fa-trash"></i>
      </div>
      <div class="palette-output-container">
        <div class="palette-item">
          <div class="palette-item-color-display">
          </div>
          <div class="palette-item-description">
            <p>#333666</p>
          </div>
        </div>
        <div class="palette-item">
          <div class="palette-item-color-display">
          </div>
          <div class="palette-item-description">
            <p>#333666</p>
          </div>
        </div>
        <div class="palette-item">
          <div class="palette-item-color-display">
          </div>
          <div class="palette-item-description">
            <p>#333666</p>
          </div>
        </div>
        <div class="palette-item">
          <div class="palette-item-color-display">
          </div>
          <div class="palette-item-description">
            <p>#333666</p>
          </div>
        </div>
        <div class="palette-item">
          <div class="palette-item-color-display">
          </div>
          <div class="palette-item-description">
            <p>#333666</p>
          </div>
        </div>
        <div class="palette-item">
          <div class="palette-item-color-display">
          </div>
          <div class="palette-item-description">
            <p>#333666</p>
          </div>
        </div>
        <div class="palette-item">
          <div class="palette-item-color-display">
          </div>
          <div class="palette-item-description">
            <p>#333666</p>
          </div>
        </div>
        <div class="palette-item">
          <div class="palette-item-color-display">
          </div>
          <div class="palette-item-description">
            <p>#333666</p>
          </div>
        </div>
        <div class="palette-item">
          <div class="palette-item-color-display">
          </div>
          <div class="palette-item-description">
            <p>#333666</p>
          </div>
        </div>
        <div class="palette-item">
          <div class="palette-item-color-display">
          </div>
          <div class="palette-item-description">
            <p>#333666</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
